#Refer to http://git-scm.com/docs/gitignore
**/packages/**/*
**/packages/*
**/bin
**/node_modules/**
**/bin/**
**/bin/**/*
**/obj
**/obj/**
**/obj/**/*
**/.vs
**/.vs/*
**/.vs/**
**/.vs/**/*
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.dll
*.lib
*.sbr
*.sdf 
*.mdf
*.ldf
*.log
desktop.ini
Thumbs.db
/src/API.SmokeTest/.testresults/*.xml
