<?xml version="1.0" encoding="utf-8" ?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>
      <add key="ConnectionStringName" value="RestaurantReviewsData" />
      <add key="ConnectionStringName_Test" value="RestaurantReviewsData_Test" />
    </appSettings>

    <connectionStrings>
      <add name="RestaurantReviewsData" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\App_Data\RestaurantReviewsData_Test.mdf;Integrated Security=True" />
      <add name="RestaurantReviewsData_Test" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\App_Data\RestaurantReviewsData_Test.mdf;Integrated Security=True" />
    </connectionStrings>
</configuration>
