USE [master]
GO
/****** Object:  Database [RestaurantReview]    Script Date: 7/14/2018 10:40:09 AM ******/
CREATE DATABASE [RestaurantReview]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RestaurantReview', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\RestaurantReview.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RestaurantReview_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\RestaurantReview_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RestaurantReview].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RestaurantReview]
GO
USE [RestaurantReview]
GO
/****** Object:  Table [dbo].[Restaurant]    Script Date: 7/14/2018 10:40:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Restaurant](
	[RestaurantId] [int] IDENTITY(1,1000) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[Zipcode] [int] NULL,
 CONSTRAINT [PK_Restaurant] PRIMARY KEY CLUSTERED 
(
	[RestaurantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 7/14/2018 10:40:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[RestaurantId] [int] NOT NULL,
	[Comment] [nvarchar](50) NOT NULL,
	[Stars] [int] NULL,
 CONSTRAINT [PK_Reviews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/14/2018 10:40:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,100) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Restaurant] ON 

INSERT [dbo].[Restaurant] ([RestaurantId], [Name], [Address], [City], [Zipcode]) VALUES (1001, N'FRANKLININN', N'2313 Rochester Rd
', N'Pittsburgh
', 15237)
INSERT [dbo].[Restaurant] ([RestaurantId], [Name], [Address], [City], [Zipcode]) VALUES (2001, N'PIZZAROMA', N'8360 Perry Hwy
', N'Pittsburgh
', 15237)
INSERT [dbo].[Restaurant] ([RestaurantId], [Name], [Address], [City], [Zipcode]) VALUES (3001, N'BURGATORY', N'700 Providence Blvd
', N'Pittsburgh
', 15237)
SET IDENTITY_INSERT [dbo].[Restaurant] OFF
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([Id], [UserId], [RestaurantId], [Comment], [Stars]) VALUES (2, 101, 1001, N'Okay Service', 3)
INSERT [dbo].[Reviews] ([Id], [UserId], [RestaurantId], [Comment], [Stars]) VALUES (4, 201, 3001, N'Okay Food', 2)
INSERT [dbo].[Reviews] ([Id], [UserId], [RestaurantId], [Comment], [Stars]) VALUES (5, 301, 2001, N'Love it', 4)
SET IDENTITY_INSERT [dbo].[Reviews] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [UserName]) VALUES (1, N'JaneDoe')
INSERT [dbo].[Users] ([UserId], [UserName]) VALUES (101, N'JoeDoe')
INSERT [dbo].[Users] ([UserId], [UserName]) VALUES (201, N'WillSmith')
SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Restaurant] FOREIGN KEY([RestaurantId])
REFERENCES [dbo].[Restaurant] ([RestaurantId])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Restaurant]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Users]
GO
USE [master]
GO
