@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Restaurant Review</h1>
    <p class="lead">Restaurant Review Application</p>
    <p><a href="https://github.com/mldst58/RestaurantReviews" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>API Endpoints</h2>
        <p>
           List of API Endpoints
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Restaurant List</h2>
        <p>List of available restaurants</p>
        <p><a class="btn btn-default" href="/RestaurantCity">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Review List</h2>
        <p>List of available restaurant reviews</p>
        <p><a class="btn btn-default" href="/ReviewUser">Learn more &raquo;</a></p>
    </div>
</div>