<div class="jumbotron">
    <h1>Some associated dev notes...</h1>
</div>
<div class="row">
	<div class="col-md-12">
		<p>Comments are spliced throughout the code explaining some decisions and why certain things were done certain ways.</p>
		<p>In some cases they weren't necessary but just wanted to throw some pepper in to show som possibilities.</p>
		<p>No IOC, acceptance tests like SpecFlow or unit tests using Nunit, Mspec or XUnit but that is an area that I can discuss at incredible length.</p>
		<p>Things could be tightened up - this isn't Hypermedia/Richardson Maturity Model Level 3 but it does have some links intersparsed within the returned models.</p>
		<p>Also just wanted to note that I didn't read the entire spec of the project at once - I incrementally made changes as I read the next specification. Incremental development/Agile.</p>
		<p>Many thanks for the opportunity here as well.</p>
	</div>
</div>
