<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <system.serviceModel>

    <client>

      <!-- HTTPS-->
      <!--<endpoint address="https://localhost/Reviews"
                binding="webHttpBinding"
                bindingConfiguration="secureBindingConfig"
                contract="SoftWriters.RestaurantReviews.WebApi.IReviewApi"/>-->

      <!-- HTTP-->
      <endpoint address="http://localhost/Reviews2"
                binding="webHttpBinding"
                bindingConfiguration="httpBindingConfig"
                contract="SoftWriters.RestaurantReviews.WebApi.IReviewApi"/>
    </client>

    <bindings>
      <webHttpBinding>
        <binding name="secureBindingConfig">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>

        <binding name="httpBindingConfig">
          <security mode="None"/>
        </binding>
      </webHttpBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior>
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>

  </system.serviceModel>

</configuration>