<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>

  <system.serviceModel>

    <services>
      <service name="SoftWriters.RestaurantReviews.WebApi.ReviewApi">
        <endpoint address="http://DESKTOP-JJLKN7I/Reviews2" 
                  binding="webHttpBinding" 
                  bindingConfiguration="httpBindingConfig" 
                  contract="SoftWriters.RestaurantReviews.WebApi.IReviewApi"/>

        <endpoint address="https://DESKTOP-JJLKN7I/Reviews" 
                  binding="webHttpBinding" 
                  bindingConfiguration="secureBindingConfig" 
                  contract="SoftWriters.RestaurantReviews.WebApi.IReviewApi"/>
      </service>
    </services>

    <bindings>
      <webHttpBinding>
        <binding name="httpBindingConfig"/>
        <binding name="secureBindingConfig">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
            <!-- None, Basic, Digest, Ntlm, Windows, Certificate, Password  -->
          </security>
        </binding>
      </webHttpBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttp">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>

  </system.serviceModel>

</configuration>
